*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  scroll-behavior: smooth;
  transition: all 0.2s;
  overflow-x: hidden;

  /* Scrollbar For Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) none;
}

/* Scrollbar For Webkit Browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-dark);
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--title-color);
  font-weight: 600;
  line-height: 140%;
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--title-color);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--title-color);
  font-weight: 600;
}

h4 {
  font-size: var(--font-size-normal);
  color: var(--title-color);
  font-weight: 600;
}

p {
  font-size: var(--font-size-normal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  width: 20px;
  height: 20px;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

[type="radio"] {
  display: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

/* Utility Classes */
.container {
  max-width: 1016px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 1.25rem 3.5rem;
  width: fit-content;
  background-color: var(--primary-color-btn);
  color: var(--default-white);
  font-weight: 500;
  box-shadow: var(--box-shadow-btn);
  border-radius: 4rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--hover-primary-color-btn);
}

.btn.btn-dark {
  background-color: var(--secondary-color-btn);
}

.btn.btn-dark:hover {
  background-color: var(--hover-secondary-color-btn);
}

/* Section Header */
.section-header {
  max-width: 235px;
  text-align: center;
  margin: 4.5rem auto 3.375rem;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--container-color);
  box-shadow: var(--box-shadow-card);
  border-radius: 12px;
  padding: 1.5rem;
}

.card img {
  max-width: 120px;
  height: auto;
}

.card p {
  font-size: var(--font-size-small);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.main {
  margin: 0 1.5rem;
}

/* Navbar */
.navbar {
  background: transparent;
  font-weight: 500;
  padding: 1.5rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container {
  padding: 0;
}

.navbar.navbar-scroll {
  background: var(--body-color-scroll);
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--title-color);
}

.logo img {
  width: 24px;
  height: 24px;
}

.navbar .main-menu-items,
.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar a {
  color: var(--title-color);
  transition: all 0.3s ease;
}

.navbar a svg path {
  fill: var(--title-color);
  transition: all 0.3s ease;
}

.navbar a:hover svg path {
  fill: var(--primary-color);
}

.navbar .main-menu-list-item.active a,
.navbar .mobile-menu-list-item.active a,
.navbar a:hover {
  color: var(--primary-color);
}

.navbar .main-menu-action-item a,
.navbar .main-menu-action-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Toggle Theme */
.toggle-theme {
  cursor: pointer;
  position: relative;
}

.toggle-theme .enable-dark-theme-btn,
.toggle-theme .enable-light-theme-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-theme .enable-dark-theme-btn,
.toggle-theme.dark .enable-light-theme-btn {
  z-index: 2;
  opacity: 1;
}

.toggle-theme .enable-light-theme-btn,
.toggle-theme.dark .enable-dark-theme-btn {
  z-index: 1;
  opacity: 0;
}

/* Mobile Menu */
.navbar .mobile-menu-toggle {
  cursor: pointer;
  display: none;
}

.navbar .mobile-menu a:hover {
  color: var(--primary-color);
}

.navbar .mobile-menu {
  display: none;
}

.navbar .mobile-menu img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100px;
  height: auto;
}
.navbar .mobile-menu button {
  position: absolute;
  top: 18px;
  right: 24px;
  cursor: pointer;
}

.navbar .mobile-menu svg {
  width: 24px;
  height: 24px;
}

.navbar .mobile-menu svg path {
  fill: var(--title-color);
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background-color: var(--container-color);
  padding: 4rem 0;
  border-radius: 0px 0px 24px 24px;
  box-shadow: var(--box-shadow-default);
  transform: translateY(-150%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items a {
  color: var(--title-color);
}

.navbar .mobile-menu-items.active {
  transform: translateY(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* Hero */
.hero {
  padding: 8.5rem 0 0;
}

.hero .hero-flex {
  display: flex;
  gap: 18px;
}

.hero img {
  max-width: 500px;
  height: auto;
}

.hero p {
  max-width: 380px;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 78px;
}

.hero .hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Start Giving */
.givings {
  gap: 8rem;
  justify-self: center;
}

.givings .giving {
  cursor: pointer;
  background: transparent;
  text-align: center;
  max-width: 142px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  transition: transform 0.3s ease;
}

.givings .giving:hover {
  transform: scale(1.1);
}

/* Send Wishes */
.send-wishes .send-wishes-flex {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 52px 0;
}

.send-wishes .send-wishes-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.send-wishes .send-wishes-content-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.send-wishes h2 {
  text-align: start;
  max-width: 235px;
}

.send-wishes p {
  max-width: 372px;
}

.send-wishes img {
  max-width: 450px;
  height: auto;
}

.send-wishes .btn {
  padding: 16px 32px;
}

/* Share A Gift */
.gifts .gift {
  padding: 2rem 1.5rem 1.5rem;
  min-width: 200px;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.gift .gift-content {
  text-align: start;
}

/* Gift Like */
.gift .gift-like {
  position: absolute;
  top: 28px;
  right: 28px;
  cursor: pointer;
}

.gift .gift-like i {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
  transition: opacity 0.3s ease;
}

.gift-like .gift-liked,
.gift-like .gift-disliked {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gift-like .gift-liked,
.gift-like.liked .gift-disliked {
  z-index: 1;
  opacity: 0;
}

.gift-like .gift-disliked,
.gift-like.liked .gift-liked {
  z-index: 2;
  opacity: 1;
}

/* New Gifts Swiper */
.new-gifts-swiper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.new-gifts-swiper > .container {
  width: 818px;
  min-height: 335px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-wrapper {
  width: 100%;
}

.new-gifts .new-gift {
  max-height: 278px;
  padding: 20px;
  gap: 20px;
  overflow: hidden;
}

.new-gift p {
  font-size: 15px;
}

.new-gift .new-gift-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-gift .new-gift-image img {
  max-width: 150px;
  height: auto;
  z-index: 2;
}

.new-gift .new-gift-img-background {
  position: absolute;
  top: -26%;
  width: 250px;
  height: 250px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: 1;
}

.new-gift .new-gift-content {
  text-align: center;
}

/* New Gifts Swiper Bullets Pagination */
.swiper-pagination-bullet {
  background-color: var(--dot-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--dot-active-color);
}

/* New Gift Like */
.new-gift-like {
  position: absolute;
  bottom: 6%;
  right: 7%;
}

.new-gift-like .new-gift-disliked,
.new-gift-like .new-gift-liked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-gift .gift-like i {
  width: 20px;
  height: 20px;
  padding: 16px;
  border-radius: 4px;
  color: var(--default-white);
  background-color: var(--primary-color);
  transition: opacity 0.3s ease;
}

/* Send Wishes Form */
.send-wishes-form .send-wishes-form-flex {
  display: flex;
  justify-content: space-between;
  background: var(--form-color);
  border-radius: 32px;
  margin: 5rem auto 75px;
  padding: 50px 152px;
}

.send-wishes-form .send-wishes-form-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.send-wishes-form .send-wishes-form-content h1 {
  color: var(--default-white);
  max-width: 208px;
  font-size: 2.25rem;
}

.send-wishes-form form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.send-wishes-form button {
  padding: 1rem 2rem;
}

.send-wishes-form form input[type="text"] {
  background-color: var(--body-color);
  border-radius: 4rem;
  padding: 18px 24px;
  color: var(--text-color);
  min-width: 264px;
}

.send-wishes-form input[type="text"]::placeholder {
  color: var(--text-color-light);
}

.send-wishes-form .send-wishes-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-wishes-form img {
  transform: rotate(15deg);
  max-width: 320px;
  height: auto;
}

/* Footer */
.footer .footer-flex {
  position: relative;
  padding: 0 100px 2rem;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 112px;
  padding-top: 72px;
}

.footer .footer-cols {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer .footer-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 149px;
  z-index: 1;
}

.footer h3 {
  white-space: nowrap;
}

.footer .footer-col p {
  font-size: var(--font-size-small);
  max-width: 149px;
}

.footer .logo span {
  font-weight: 500;
}

.footer .footer-col-links {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.footer a {
  color: var(--text-color);
  transition: all 0.3s ease;
  height: fit-content;
}

.footer a:hover {
  color: var(--text-color-light);
}

.footer a:has(img) {
  display: flex;
}

.footer a img {
  width: 100px;
  height: auto;
}

/* Christmas Bubbles */
.christmas-bubble {
  position: absolute;
  width: 120px;
  z-index: 0;
}

.christmas-bubble:first-of-type {
  bottom: 57px;
  left: 100px;
}

.christmas-bubble:last-of-type {
  bottom: 130px;
  right: 0;
}

:root {
  /* Primary color */
  --primary-color: #dc3845;
  --primary-color-dark: #d42b39;
  --primary-color-light: #db4d59;

  /* Background */
  --body-color: #ffffff;
  --body-color-scroll: rgba(255, 255, 255, 0.7);
  --container-color: #ffffff;

  /* Text color */
  --default-white: #ffffff;

  --title-color: #282525;
  --text-color: #5d5656;
  --text-color-light: #918889;

  --dark-theme-title-color: #f3f2f2;
  --dark-theme-text-color: #c2bdbd;
  --dark-theme-text-color-light: #918889;

  /* Button Colors */
  --primary-color-btn: var(--primary-color);
  --hover-primary-color-btn: var(--primary-color-light);
  --secondary-color-btn: #000000;
  --hover-secondary-color-btn: var(--title-color);

  /* Form Color */
  --form-color: var(--primary-color);

  /* Slider Dots */
  --dot-color: #5d5656;
  --dot-active-color: #dc3845;

  /* Text size */
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.813rem;

  --mobile-font-size-h1: 1.5rem;
  --mobile-font-size-h2: 1.25rem;
  --mobile-font-size-h3: 1rem;
  --mobile-font-size-normal: 0.938rem;
  --mobile-font-size-small: 0.813rem;
  --mobile-font-size-smaller: 0.75rem;

  /* Box-shadow */
  --box-shadow-default: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
  --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-card: 0px 4px 24px rgba(48, 29, 30, 0.1);
}

/* Media Queries */
@media (max-width: 992px) {
  /* Hero */
  .hero {
    text-align: center;
  }

  .hero .hero-flex {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-content {
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .hero .hero-content-text {
    justify-content: center;
    align-items: center;
    max-width: 85%;
  }

  /* Send Wishes */
  .send-wishes .send-wishes-flex {
    gap: 1rem;
    padding: 3rem 0 2rem 0;
  }

  .send-wishes .send-wishes-content {
    gap: 1.5rem;
    align-items: center;
  }

  .send-wishes .send-wishes-content-text {
    align-items: center;
    gap: 1rem;
  }

  .send-wishes img {
    max-width: 280px;
  }

  /* New Gifts Swiper */
  .new-gifts-swiper {
    height: 500px;
  }

  .new-gifts-swiper > .container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
  }

  .card-wrapper {
    max-width: 95%;
  }

  /* Send Wishes Form */
  .send-wishes-form .send-wishes-form-flex {
    margin: 4rem auto 32px;
    padding: 2.5rem 1.5rem;
    border-radius: 20px;
    justify-content: space-around;
  }

  .send-wishes-form img {
    max-width: 200px;
  }

  /* Footer */
  .footer .footer-flex {
    padding: 0 0 2rem;
  }

  .footer .footer-content {
    padding-top: 48px;
  }

  .footer .footer-cols {
    flex-wrap: wrap;
    gap: 41px;
  }

  .footer .footer-col {
    gap: 1rem;
  }

  .footer .footer-col p {
    max-width: 133px;
  }

  .footer .logo span {
    font-weight: 500;
  }

  .footer .footer-col-links {
    gap: 12px;
  }

  /* Christmas Bubbles */
  .christmas-bubble:last-of-type {
    bottom: 3%;
    right: 3%;
  }
}

@media (max-width: 768px) {
  /* Cards */
  .cards {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Navbar */
  .navbar {
    padding: 1rem 1.5rem; /* TODO: check */
  }

  .navbar .main-menu-items {
    gap: 1rem;
  }

  .navbar .main-menu-list {
    display: none;
  }

  /* Mobile Menu */
  .navbar .mobile-menu-toggle,
  .navbar .mobile-menu {
    display: block;
  }

  /* Hero */
  .hero {
    padding: 78px 0 0;
  }

  /* Start Giving */
  .givings {
    gap: 1.75rem;
  }

  /* Send Wishes */
  .send-wishes .send-wishes-flex {
    text-align: center;
  }

  .send-wishes h2 {
    text-align: center;
  }

  /* New Gifts Swiper */
  .card-wrapper {
    max-width: 95%;
    width: 660px;
  }

  /* Send Wishes Form */
  .send-wishes-form .send-wishes-form-flex {
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto 0;
    padding: 2.5rem 1.5rem;
    border-radius: 20px;
  }

  .send-wishes-form .send-wishes-form-content {
    align-items: center;
    gap: 1.5rem;
  }

  .send-wishes-form .send-wishes-form-content h1 {
    max-width: 116px;
    font-size: 20px;
    text-align: center;
  }

  .send-wishes-form form {
    gap: 12px;
  }

  .send-wishes-form button {
    width: 100%;
  }

  .send-wishes-form .send-wishes-img {
    margin-top: 36px;
  }

  .send-wishes-form img {
    max-width: 200px;
  }

  /* Christmas Bubbles */
  .christmas-bubble {
    width: 100px;
  }

  .christmas-bubble:first-of-type {
    bottom: 183px;
    left: calc(100% - 280px);
  }
}

@media (max-width: 576px) {
  /* Section Header */
  .section-header {
    margin: 3rem auto;
  }

  /* Cards */
  .cards {
    grid-template-columns: 1fr;
  }

  /* Hero */
  .hero img {
    max-width: 320px;
  }

  .hero .hero-content-text {
    max-width: 80%;
  }

  :root {
    /* Text size */
    --font-size-h1: var(--mobile-font-size-h1);
    --font-size-h2: var(--mobile-font-size-h2);
    --font-size-h3: var(--mobile-font-size-h3);
    --font-size-normal: var(--mobile-font-size-normal);
    --font-size-small: var(--mobile-font-size-small);
    --font-size-smaller: var(--mobile-font-size-smaller);
  }

  /* Start Giving */
  .givings {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Share A Gift */
  .gifts {
    grid-template-columns: repeat(2, 1fr);
  }

  .gifts .gift {
    min-width: 144px;
    padding: 24px 22px 16px 22px;
  }

  .gifts img {
    width: 100px;
  }

  .gift h3 {
    font-size: 16px;
  }

  .gift p {
    font-size: var(--font-size-small);
  }

  .gift .gift-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  /* New Gifts Swiper */
  .new-gifts-swiper {
    height: 450px;
  }

  .new-gifts-swiper > .container {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  /* Christmas Bubbles */
  .christmas-bubble:first-of-type {
    bottom: 310px;
    left: calc(100% - 280px);
  }

  .christmas-bubble:last-of-type {
    bottom: 12%;
  }
}

@media (max-width: 386px) {
  /* Christmas Bubbles */
  .christmas-bubble:first-of-type {
    bottom: 510px;
    left: calc(100% - 151px);
  }

  .christmas-bubble:last-of-type {
    bottom: 109px;
    right: -20%;
  }
}
