*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-normal);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--title-color);
  font-weight: 600;
  line-height: 140%;
}

h2 {
  font-size: var(--font-size-h2);
  color: var(--title-color);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-h3);
  color: var(--title-color);
  font-weight: 600;
}

h4 {
  font-size: var(--font-size-normal);
  color: var(--title-color);
  font-weight: 600;
}

p {
  font-size: var(--font-size-normal);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

svg {
  width: 20px;
  height: 20px;
}

button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

main {
  margin: 0 1.5rem;
}

/* Utility Classes */
.container {
  max-width: 1016px;
  margin: 0 auto;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 1.25rem 3.5rem;
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--text-white);
  font-weight: 500;
  box-shadow: var(--box-shadow-btn);
  border-radius: 4rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

/* Section Header */
.section-header {
  max-width: 235px;
  text-align: center;
  margin: 4.5rem auto 3.375rem;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  width: fit-content;
  justify-self: center;
}

.cards .card {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  background: var(--container-color);
  box-shadow: var(--box-shadow-card);
  border-radius: 12px;
  padding: 1.5rem;
}

.card img {
  max-width: 120px;
}

.card p {
  font-size: var(--font-size-small);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


/* Navbar */
.navbar {
  background: transparent;
  font-weight: 500;
  padding: 1.5rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.navbar-scroll {
  background: var(--body-color-scroll);
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--title-color);
}

.logo img {
  width: 24px;
  height: 24px;
}

.navbar .main-menu-items,
.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar a {
  color: var(--title-color);
}

.navbar .main-menu-list-item.active a,
.navbar .mobile-menu-list-item.active a {
  color: var(--primary-color);
}

.navbar .main-menu-action-item a,
.navbar .main-menu-action-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile Menu */
.navbar .mobile-menu-toggle {
  cursor: pointer;
  display: none;
}

.navbar .mobile-menu {
  display: none;
}

.navbar .mobile-menu img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100px;
}
.navbar .mobile-menu button {
  position: absolute;
  top: 24.34px;
  right: 30.39px;
  cursor: pointer;
}

.navbar .mobile-menu svg {
  width: 11.31px;
  height: 11.31px;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background-color: var(--container-color);
  padding: 4rem 0;
  border-radius: 0px 0px 24px 24px;
  box-shadow: var(--box-shadow-default);
  transform: translateY(-150%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items a {
  color: var(--title-color);
}

.navbar .mobile-menu-items.active {
  transform: translateY(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* Hero */
.hero {
  /* background: #e9bbbf; */
  padding: 8.5rem 0 0;
}

.hero .hero-flex {
  display: flex;
  gap: 18px;
}

.hero img {
  max-width: 500px;
}

.hero p {
  max-width: 380px;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 78px;
}

.hero .hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Start Giving */
.givings {
  gap: 8rem;
  width: fit-content;
  justify-self: center;
}

.givings .giving {
  cursor: pointer;
  background: transparent;
  text-align: center;
  max-width: 142px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  transition: transform 0.3s ease;
}

.givings .giving:hover {
  transform: scale(1.1);
}

/* Send Wishes */
.send-wishes .send-wishes-flex {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 52px 0;
}

.send-wishes .send-wishes-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.send-wishes .send-wishes-content-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.send-wishes h2 {
  text-align: start;
  max-width: 235px;
}

.send-wishes p {
  max-width: 372px;
}

.send-wishes img {
  max-width: 450px;
}

.send-wishes .btn {
  padding: 16px 32px;
}

/* Share A Gift */
.gifts .gift {
  padding: 2rem 1.5rem 1.5rem;
  min-width: 200px;
  text-align: center;
}

.gift .gift-content {
  text-align: start;
}

:root {
  /* Primary color */
  --primary-color: #dc3845;
  --primary-color-dark: #d42b39;
  --primary-color-light: #db4d59;

  /* Background */
  --body-color: #ffffff;
  --body-color-scroll: rgba(255, 255, 255, 0.7);
  --container-color: #ffffff;

  --dark-theme-body-color: #251819;
  --dark-theme-container-color: #2f2223;

  /* Text color */
  --text-white: #ffffff;

  --title-color: #282525;
  --text-color: #5d5656;
  --text-color-light: #918889;

  --dark-theme-title-color: #f3f2f2;
  --dark-theme-text-color: #c2bdbd;
  --dark-theme-text-color-light: #918889;

  /* Text size */
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.813rem;

  --mobile-font-size-h1: 1.5rem;
  --mobile-font-size-h2: 1.25rem;
  --mobile-font-size-h3: 1rem;
  --mobile-font-size-normal: 0.938rem;
  --mobile-font-size-small: 0.813rem;
  --mobile-font-size-smaller: 0.75rem;

  /* Box-shadow */
  --box-shadow-default: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
  --box-shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --box-shadow-card: 0px 4px 24px rgba(48, 29, 30, 0.1);
}

/* Media Queries */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  /* Hero */
  .hero {
    text-align: center;
  }

  .hero .hero-flex {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-content {
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .hero .hero-content-text {
    justify-content: center;
    align-items: center;
    max-width: 85%;
  }

  /* Send Wishes */
  .send-wishes .send-wishes-flex {
    gap: 1rem;
    padding: 3rem 0 2rem 0;
  }

  .send-wishes .send-wishes-content {
    gap: 1.5rem;
    align-items: center;
  }
  
  .send-wishes .send-wishes-content-text {
    align-items: center;
    gap: 1rem;
  }
  
  .send-wishes img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  /* Cards */
  .cards {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Navbar */
  .navbar {
    padding: 1rem 1.5rem; /* TODO: check */
  }

  .navbar .main-menu-items {
    gap: 1rem;
  }

  .navbar .main-menu-list {
    display: none;
  }

  /* Mobile Menu */
  .navbar .mobile-menu-toggle,
  .navbar .mobile-menu {
    display: block;
  }

  /* Hero */
  .hero {
    padding: 78px 0 0;
  }

  /* Start Giving */
  .givings {
    gap: 1.75rem;
  }

  /* Send Wishes */
  .send-wishes .send-wishes-flex {
    text-align: center;
  }

  .send-wishes h2 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  /* Cards */
  .cards {
    grid-template-columns: 1fr;
  }

  /* Hero */
  .hero img {
    max-width: 320px;
  }

  .hero .hero-content-text {
    max-width: 80%;
  }

  :root {
    /* Text size */
    --font-size-h1: var(--mobile-font-size-h1);
    --font-size-h2: var(--mobile-font-size-h2);
    --font-size-h3: var(--mobile-font-size-h3);
    --font-size-normal: var(--mobile-font-size-normal);
    --font-size-small: var(--mobile-font-size-small);
    --font-size-smaller: var(--mobile-font-size-smaller);
  }

  /* Start Giving */
  .givings {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Share A Gift */
  .gifts .gift {
    min-width: 144px;
    padding: 24px 22px 16px 22px;
  }
  
  .gifts img {
    width: 100px;
  }

  .gift h3 {
    font-size: 16px;
  }
  
  .gift p {
    font-size: var(--font-size-small);
  }
  
  .gift .gift-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
